    header {
     width:100vw;
     background-color: var(--primary-color);
     position: fixed;
     z-index: 2000;
    }
    .container {
        height: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem 0 1.3rem;
    }
    .container, .logo, .search, .information-user {
        display: flex;

    }
    .logo {
        width: 25%;
        display: flex;
        align-items: center;
    }
    .burger {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        justify-content: center;
        margin-right: 0.9rem;
        cursor: pointer;
        transition: all 0.4s;
        
    }
    .burger:active{
        background-color: var(--bg-burger);
    }
    .burger div {
        width: 1.25rem;
        height: 0.132rem;
        background: var(--burger-color);
    }
    
    .burger div + div {
        margin-top:0.2rem;
    }
    .search {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .search input, .search button {
        border: 1px solid var(--border-color);  
        height: 1.9rem;
        
    }
    .search input {
        width: clamp(10vw, 30rem,40rem );
        outline-color: rgb(26, 93, 156);
        outline-offset: 1px;
        padding: 0 0.4rem;
        background: var(--input-color);
        
    }
    .search input:placeholder {
        font-size: 0.8rem;
        color: var(--text-color);
    }
    .search button {
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
        border-left: none;
        background-color: var(--button-color);
    }

    .information-user {
        display: flex;
        width: 25%;
        justify-content: flex-end;
        position: relative;
    }
    .information-user img {
        cursor: pointer;
    }
    .information-user div + div {
        margin-left: 1.9rem;
    }

    /* DarkMode */
    .user .toogle-dark {
        display: none;
    }

    .user.actived .toogle-dark {
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 3rem;
        right: 1px;
        border-radius: 0.4rem;
        background-color: var(--primary-color);
        box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        transition: 1s ease-in-out;
        align-items: center;   
    }
    .toogle-dark .contain-toogle  {
        width: 3rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--border-color);
        position: relative;
        background: var(--bg-toogle);
        border-radius: 2rem;
        cursor: pointer;
       
    }
    
    .contain-toogle img {
        width: 1.2rem;
        pointer-events: none;
    }
    .contain-toogle .handle {
        pointer-events: none;
        width: 1.3rem;
        height: 1.3rem;
        background-color: var(--burger-color);
        border-radius: 50%;
        margin: 0 0.1rem;
        right: 1;
        position: absolute;
    }
    .dark .handle {
        right: 0;
    }